.background {
  viewport-fill: white;
}

#myLabel {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+140;
  fill: white;
}

#spriteDiv {
  width: 100%;
  height: 100%;
}

#time image {
  y: 81%;
}

#time image.timeDigit {
  width:15%;
  height:15%;
}

#timeSeparator {
  width: 5%;
  height: 15%;
}

.nameContainer image {
  width: 5%;
  height: 5%;
}

#enemyNameContainer image {
  y: 58;  
}

#allyNameContainer image {
  y: 50%;
}

.levelContainer image {
  width: 4%;
  height: 4%;
}

#allyLevelContainer image {
  y: 186;
}

#enemyLevelContainer image {
  y: 75;
}

#dateContainer image {
  y: 68%;
  width: 4%;
  height: 4%;
}

#allyHealthContainer{
  x: 223; 
  y: 202;
  width: 105;
  height: 8;  
}

#enemyHealthContainer{
  x: 36;
  y: 91;
  width: 105;
  height: 8;  
}